<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Title</title>
   
</head>
<body>
    {{> header}}123
    <p>waht about this</p>
 {{> footer}}
</body>
</html>