<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
   
</head>
<body>
    {{> header}}
    <p>{{streamIt welcomeMessage}}</p>
    {{> footer}}
</body>
</html>